#wrapper {
    margin: 10px 30px;
}
.show { display: inline; }
.hide { display: none; }
#byteRange { margin-top: 5px; }
#dropZone { 
    border: 5px dashed #ccc; 
    height: 200px;
    margin-top: 10px;
    width: 99%;
    text-align: center;
}
#dropZone span { 
    color: #ccc;
    font: bold 40px Arial;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 50%;
    margin-left: -100px;
    margin-top: 75px;
}
#dropZone.drag-enter { border: 5px dashed lightgreen !important; }
#dropZone.drag-leave { border: 5px dashed silver !important; }
/*#dropZone.drag-not-allow { border: 5px dashed red !important; }*/
#result {
    margin: 20px 0;
    height: 300px;
    width: 99%;
}
#messageError, #messageOk { 
    font-weight: bold; 
    float: left; 
    margin: 20px 0; }
#messageError { color: #f00; }
#messageOk { color: #07B900; }

/* pulsy! and a bgcolor as fallback for non-webkit */
@-webkit-keyframes drop {
    0% { background: white; }
    100% { 
        border: 5px solid white;
        background: #B3DCB3; 
        color: white;
    }
}
#dropZone.active, #dropZone.active span {
    -webkit-animation-name: drop;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: in-and-out;
}
@-webkit-keyframes error {
    0% { background: white; }
    100% { 
        border: 5px solid white;
        background: #B04B4B; 
        color: white;
    }
}
#dropZone.drag-not-allow, #dropZone.drag-not-allow span {
    -webkit-animation-name: error;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: in-and-out;
}
