body {
    margin: 10px;
}
#byteRange { margin-top: 5px; }
#dropZone { 
    border: 5px dashed silver; 
    height: 200px;
    width: 99%;
    text-align: center;
}

#dropZone span { 
    color: #666; 
    font: 26px Arial;
    position: absolute;
    width: 150px;
    height: 20px;
    left: 50%;
    margin-left: -75px;
    margin-top: 70px;
}

#dropZone.drag-enter { border: 5px dashed lightgreen !important; }
#dropZone.drag-leave { border: 5px dashed silver !important; }
#dropZone.drag-not-allow { border: 5px dashed red !important; }
#result {
    margin: 5px 0;
    height: 300px;
    width: 99%;
}
#error {
    visibility: hidden;
    color: #f00;
}
